<div class="container mt-20">
    <div class="row">
        <div class="col-12">
            <app-edit-product-form [product]="product" [categories]="categories"></app-edit-product-form>
            <!-- 
            <app-stepper [linearModSelected]="false" #appStepper>
                <cdk-step [label]="'Description'" >
                
                </cdk-step>
                <cdk-step [label]="'Product Image'" >
                    Image
                </cdk-step>
            </app-stepper>
            -->
        </div>
    </div>
</div>